matplotlib==3.9.4
matplotlib-inline==0.1.7
missingno==0.5.2
numpy==2.0.2
pandas==2.3.0
plotly==6.3.0
python-daemon==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-multipart==0.0.20
python-slugify==8.0.4
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
streamlit==1.49.1
ucimlrepo==0.0.7
